body{
    margin: 0;
    padding: 0;
    background-image: radial-gradient(powderblue,turquoise, #34ce57);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

.seeB{
    margin: 5px;
    float: left;
    width: 80px;
}

.addB{
    margin: 5px;
    float: right;
    width: 80px;
}

.addL{
    position: absolute;
    right: 80px;
}

.seeL{
    position: absolute;
    left: 70px;
}

footer{
    position: absolute;
    right:20px;
    bottom: 20px;
}

h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 300px;
    font-weight: bold;
    text-decoration: underline;
}